
body{
	background-color: white;
	
}
h1{
	text-align: center;
	}


#box1,#box2,#box3{
	color: white;
	border: 5px solide white;
	position: relative;
	background-color: grey;
	margin: 10px;
	padding:2px;
	border: 2px solid black;
}


#box1{
float: left;

}

#box2{
float: left;
clear: right;
}

#box3{
float: left;
clear: right;
}

h2{
	
	border: 2px solid black;
	text-align: center;
	margin: 0px 0px 0px 0px;
	height: 25px;
	width: 90px;
	padding: 0px;	
	float: right;
}

p{
    padding-top: 40px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

.sushi {
	background-color: bisque;
	color: black;
}
.beef {
	color: white;
	background-color: orangered;
}
.chicken{
	color: black;
	background-color: blanchedalmond;
	margin: 0PX;
}

.container{
    padding-left: 20px;
}

/*** Large devices only ***/
@media (min-width: 992px) {
	#box1,#box2,#box3{
		width: 30%; 
		height: 300px;
	}

}


/*** Tablet devices only ***/
@media (min-width: 768px) and (max-width:991px) {
	#box1,#box2{
		width: 45%; 
		height: 350px;
	}
	#box3{
		width: 94%; 
		height: 200px;
	}

}


/*** Small devices only ***/
@media (max-width: 767px) {
	#box1,#box2,#box3{
		height: 250px;
        width: 90%;
        margin:10px;

    
	}
}